/* responsiveness header */
@media (max-width:560px) {
    
.headeright{

    position:absolute;
top: 74%;
left: 25%;
right: 25%;

display: flex;
width: 100vw;
left: 0;
justify-content:space-around;




    
}
.input{


    margin-right: 3vw;
    width: 65vw;
    margin-top: -1rem;
    
}
.mainheader{

    height: 9rem;
    position: relative;
 
   align-items: flex-start;
   
}
.logo{
    margin-top: -1rem;
}


}
@media(max-width:400px){
    .input{


        margin-right: 3vw;
        min-width: 60vw;
    }
.mainheader{

    gap: 1rem;
    
}
.selectcategory{

    min-width:25% ;
}
.SearchIn{

    min-width:52%;
}
.searchbox{

    min-width: 23%;
}

}
@media(max-width:370px){
    .input{


        margin-right: 1vw;
        width: 80vw;
    }
.mainheader{

    gap: 1rem;
    
}
.selectcategory{

    min-width:35% ;
}
.SearchIn{

    width:40%;
}
.searchbox{

    width: 35%;;
}

}
